<h1>Orders List</h1>
<div *ngFor="let order of orders" (click)="openDialog(order)">
    {{ 'Order #' + order.id + 'by ' + order.user.name }}
    <br>
    {{ order.products.length + ' items : ' + getTotalOrder(order) }}
</div>

<app-dialog [(dialog)]="dialog">
    <div *ngIf="selection">
        {{ 'Order #' + selection.id + 'by ' + selection.user.name }}
        <div *ngFor="let product of selection.products">
            {{ product.name + ' at ' + formatPrice(product.price) }}
        </div>
        Order total : {{ getTotalOrder(selection) }}
    </div>
    <div>
        <app-btn [btntext]="'Close'" (click)="dialog = false"></app-btn>
    </div>

</app-dialog>